@font-face {
    font-family: 'percolatorregular';
    src: url('css/fonts/percolator-text-webfont.woff2') format('woff2'),
    url('css/fonts/percolator-text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'percolatorregular', sans-serif;
}

h1, h2, h3 {
    margin: 0 !important;
}

.grid {
    display: flex;
}

.cell {
    flex: 1;
}

.grid.gutters {
    margin: -1em 0 0 -1em;
}
.grid.gutters > .cell {
    padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid.top {
    align-items: flex-start;
}
.grid.bottom {
    align-items: flex-end;
}
.grid.center {
    align-items: center;
}

/* Alignment per cell */
.grid .cell.top {
    align-self: flex-start;
}
.grid .cell.bottom {
    align-self: flex-end;
}
.grid .cell.center {
    align-self: center;
}